rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{subscriberId} {
      // Permitir que qualquer pessoa se inscreva
      allow create: if true;
      // Permitir leitura e atualização para o fluxo de verificação de token
      allow read, update: if true;
      // Não permitir exclusão
      allow delete: if false;
    }
  }
}
